body{
  background-color: Skyblue;
  text-align: center;
  text-decoration: none;
  
}
a:link {
  color: red;
  text-decoration: none;
}

/* visited link */
a:visited {
 color: inherit;
 text-decoration: none;
}

/* mouse over link */
a:hover {
  color: red;
  text-decoration: none;
}

/* selected link */
a:active {
  color: inherit;
  text-decoration: none;
}

h1{
  text: strong;
  text-color: black;
}
nav{
  text: silver;
}
