<nav>
      <a href="https://webpages.charlotte.edu/prai2/">Charlotte.edu</a> ||
      <a href="https://github.com/prai1234">GitHub</a> ||
      <a href="https://prai1234.github.io/index.html">GitHub Pages</a> ||
      <a href="https://prai1234.github.io/itis3135/index.html">Github Course Page</a> ||
      <a href="https://www.freecodecamp.org/Prai2">FreeCodeCamp</a> ||
      <a href="https://www.codecademy.com/profiles/cloud6214266955">CodeAcadamy</a> ||
      <a href="https://www.linkedin.com/in/prahlad-rai-b82b84323/">Linkedin</a>
</nav>
        <p>
            Page Built by <a href="https://www.freecodecamp.org/certification/Prai2/responsive-web-design">Prahlad Rai</a> © 2025,
            <em><a href="https://www.freecodecamp.org/certification/Prai2/responsive-web-design">Certified in Responsive Web Design</a></em>,
            <em><a href="https://www.freecodecamp.org/certification/Prai2/javascript-algorithms-and-data-structures-v8">Certified in JS</a></em>.
        </p>
<p>
      <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
      <img class="validator-img" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
      <img class="validator-img" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
    </a>
    <script>
      document.getElementById("validation-link-html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
      $(document).ready(function(){
        $("#header-placeholder").load("header.html");
      });
      document.getElementById("validation-link-css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</p>
