<h1> Prahlad B Rai || ITIS 3135</h1>
<nav>
      <a href="https://webpages.charlotte.edu/prai2/itis3135/">Home</a> ||
      <a href="https://webpages.charlotte.edu/prai2/itis3135/intro.html">Introduction</a> ||
      <a href="https://webpages.charlotte.edu/prai2/itis3135/contract.html">Contract</a> ||
      <a href="https://webpages.charlotte.edu/prai2/itis3135/website_evaluations.html">Website Evaluations</a> ||
      <a href="https://webpages.charlotte.edu/prai2/itis3135/byo_intro.html">BYO</a> ||
      <a href="https://webpages.charlotte.edu/prai2/itis3135/tables.html">Tables</a>||
      <a href="https://webpages.charlotte.edu/prai2/itis3135/form.html">Form</a>||
      <a href="https://webpages.charlotte.edu/prai2/itis3135/slideshow.html">SlideShow</a>||
      <a href="https://webpages.charlotte.edu/prai2/itis3135/preproject.html">Client Overview</a> ||
      <a href="https://webpages.charlotte.edu/prai2/itis3135/review1.html">Review 1</a> ||
      <a href="https://webpages.charlotte.edu/prai2/itis3135/review2.html">Review 2</a> ||
      <a href="https://webpages.charlotte.edu/prai2/itis3135/drawing.html">Draw</a> 
</nav>
<nav>
    <a href="https://webpages.charlotte.edu/prai2/My%20Terrible%20Webpage!.html"> Crappy Webpage</a> ||
    <a href="https://webpages.charlotte.edu/prai2/itis3135/design.html">Design Firm</a> ||
    <a href="https://webpages.charlotte.edu/prai2/itis3135/hobby/">Hobby</a> ||
    <a href="https://webpages.charlotte.edu/prai2/itis3135/client_site/">Client</a> 
</nav>
