<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="video.html">Video</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="albums.html">Albums</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
 
  <div class="social-icons">
    <a href="https://www.facebook.com/manojkrai/" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg" alt="Facebook" />
    </a>
    <a href="https://www.instagram.com/manojrai_1979/" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Instagram_simple_icon.svg" alt="Instagram" />
    </a>
    <a href="https://www.tiktok.com/@manojkrai" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Tiktok_icon.svg" alt="TikTok" />
    </a>
    <a href="https://open.spotify.com/album/1MwNzq91d0CQqahT0kks17" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" alt="Spotify" />
    </a>
  </div>
</nav>
