<nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="video.html">Video</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="albums.html">Albums</a></li>
    <li><a href="events.html">Events</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
  <div class="social-icons">
    <a href="https://www.facebook.com/manojkrai/" target="_blank" rel="noopener">
      <img src="images/facebook.png" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/manojrai_1979/" target="_blank" rel="noopener">
      <img src="images/social.png" alt="Instagram">
    </a>
    <a href="https://www.tiktok.com/@manojkrai" target="_blank" rel="noopener">
      <img src="images/tiktok.png" alt="TikTok">
    </a>
    <a href="https://open.spotify.com/album/1MwNzq91d0CQqahT0kks17" target="_blank" rel="noopener">
      <img src="images/instagram.png" alt="Spotify">
    </a>
    <a href="https://www.youtube.com/@manojrai6517" target="_blank" rel="noopener">
      <img src="images/youtube.png" alt="YouTube">
    </a>
  </div>
</nav>
